.title {
    background-color: rgb(45, 45, 214); 
    color: whitesmoke;
    font-size: 60px; 
    height: 400px;
    line-height: 400px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.my_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.video {
    position: relative;
    width: 100%;
}

p{ 
    font-weight: bold;
    font-style: italic;
    font-size: 40px;

}

body{
    text-align: center;
}

ul{
    text-align: left;
    display: inline-block;
    font-size: 30px;
}
